language:
  - cpp

install:
  - sudo pip install cpp-coveralls
  - sudo apt-get install pkg-config zip g++ zlib1g-dev unzip python
  - wget https://github.com/bazelbuild/bazel/releases/download/0.21.0/bazel-0.21.0-installer-linux-x86_64.sh
  - chmod +x bazel-0.21.0-installer-linux-x86_64.sh
  - ./bazel-0.21.0-installer-linux-x86_64.sh --user
  - export PATH="$PATH:$HOME/bin"

script:
  - bazel //test:oot-test 
  - bazel-bin/test/oot-test
after_success:
  - coveralls --root . -E ".*external.*" -E ".*bazel-.*" -E ".*test/.*.cpp.*"

notifications:
  email: false